# Server Configuration
PORT=8080
LOG_LEVEL=info

# Database Credentials
POSTGRES_DB=mate
POSTGRES_USER=mate
POSTGRES_PASSWORD=mate

# OpenAI API
OPENAI_API_KEY=sk-your-openai-api-key-here
LLM_MODEL=gpt-4o-mini
EMBEDDING_MODEL=text-embedding-3-small

# Database
STORE_PROVIDER=postgres
DB_URL=postgres://mate:mate@postgres:5432/mate?sslmode=disable

# Message Queue
QUEUE_DRIVER=nats
QUEUE_URL=nats://nats:4222